:root {
    --accent-color: #2196F3;
    --title-color: #212121;
    --logo-color: #000000;
    --primary-color: #757575;
    --back-fone-color: #F5F5F5;
    --white-color: #FFFFFF;
    --block-color: #2F303A;
    --back-buttons-color: #F5F4FA;
    --hero-fone: rgba(47, 48, 58, 0.4);
    --icon-color: #afb1b8;
    --clients-border: #AFB1B8;
    --timing-fuction: 250ms cubic-bezier(0.4, 0, 0.2, 1);

}

.link {
    text-decoration: none;
}

.list {
    list-style: none;
}


img {
    display: block;
}

body {
    font-family: 'Roboto', sans-serif;
    letter-spacing: 0.03em;
    font-size: 14px;
    font-weight: 400;
    color: var(--title-color);
    background: var(--white-color)
}

*,
*::before,
*::after {
    box-sizing: border-box;
}

h1,
h2,
h3,
h4,
p {
    margin-top: 0;
    margin-bottom: 0;
}

ul {
    margin-top: 0;
    margin-bottom: 0;
    padding-left: 0;
}

.container {
    width: 1200px;
    margin-left: auto;
    margin-right: auto;
    padding-left: 15px;
    padding-right: 15px;
}

section {
    padding: 94px 0;
}

/*logo, header*/

.header {
    background-color: var(--white-color);
    border: 1px solid #ECECEC;
}

.header .logo {
    color: var(--logo-color);
    font-family: 'Raleway', sans-serif;
    font-weight: 700;
    font-size: 26px;
    line-height: 1.19;
    margin-right: 90px;
    padding: 25px 0;
}

.logo span {
    color: var(--accent-color)
}

.site-nav .link {
position: relative;
padding-top: 32px;
padding-bottom: 32px;

    font-weight: 500;
    line-height: 1.14;
    letter-spacing: 0.02em;
    color: var(--title-color);
    transition: color var(--timing-fuction)
}

.link.current::after{
content: "";
display: block;
position: absolute;
left: 0;
bottom: 0;
width: 100%;
height: 4px;
border-radius: 2px;
background-color: var(--accent-color);
}

.site-nav {
    gap: 50px;
}

.site-nav .link.current {
    color: var(--accent-color);
   
}

.site-nav .link:hover,
.site-nav .link:focus {
    color: var(--accent-color);
}

.contact .link {
    display: flex;
    align-items: center;
    justify-content: center;
    padding-top: 32px;
    padding-bottom: 32px;
    font-weight: 500;
    line-height: 1.14;
    letter-spacing: 0.02em;
    color: var(--primary-color);
    transition: color var(--timing-fuction);
}

.header-nav,
.header nav,
.site-nav {
    display: flex;
    align-items: center;
}

.contact {
    display: flex;
    margin-left: auto;
    column-gap: 50px;
}

.contact .link:hover,
.contact .link:focus {
    color: var(--accent-color);
}

.envelope,
.smartphone {
    fill: currentColor;
    margin-right: 10px;
}

.envelope:hover,
.smartphone:hover {
    fill: var(--accent-color);
}



/*Hero btn*/

.hero {
    padding: 200px 0;
    background-color: var(--block-color);
}

.hero-tittle {
    margin: 0 auto;
    width: 696px;
    margin-bottom: 30px;
    font-weight: 900;
    font-size: 44px;
    line-height: 1.36;
    letter-spacing: 0.06em;
    text-align: center;
    text-transform: uppercase;
    color: var(--white-color);
}

.hero .button {
    border: none;
    border-radius: 4px;
    padding: 10px 30px;
    margin: 0 auto;
    display: flex;
    align-items: center;
    margin-top: 40px;
    font-weight: 700;
    font-size: 16px;
    line-height: 1.87;
    letter-spacing: 0.06em;
    background: var(--accent-color);
    color: var(--white-color);
    cursor: pointer;
}

.button:hover,
.button:focus{
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.15);
}

/*Backdrop, modal*/

.backdrop{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color:  rgba(0, 0, 0, 0.2);

    opacity: 1;
    transition: opacity var(--timing-fuction), visibility var(--timing-fuction);
   
}

.backdrop.is-hidden{
    visibility: hidden;
    opacity: 0;
    pointer-events: none;
}

.backdrop.is-hidden .modal{
    transform: translate(-50%, -50%) scale(0.9);
}

.modal{
position: absolute;
top: 50%;
left: 50%;

padding: 40px;

width: 528px;
min-height: 581px;

background-color: rgba(255, 255, 255, 1);

transform: translate(-50%, -50%) scale(1);
transition: transform var(--timing-fuction);

}
    
.button-close{
display: flex;
align-items: center;
justify-content: center;
position: absolute;
width: 30px;
height: 30px;
right: 8px;
top: 8px;
background-color: transparent;
padding: 0;
border-radius: 50%;
border: 1px solid rgba(0, 0, 0, 0.1);
cursor: pointer;
transition: fill var(--timing-fuction);
}


.button-close:hover,
.button-close:focus{
    fill: var(--accent-color);
}

.fon {
    max-width: 1600px;
    height: 600px;
    margin-left: auto;
    margin-right: auto;
    background-image: linear-gradient(var(--hero-fone),
            var(--hero-fone)),
        url(../images/Img\ Hero.jpg);

    background-position: center;
}

.modal-tittle{
    font-weight: 700;
    font-size: 20px;
    line-height: 1.15;
    text-align: center;
    margin-bottom: 10px;
}

.form-fild{
    position: relative;
    display: flex;
    flex-direction: column;
    margin-bottom: 10px;
}

.modal-button{
    border: none;
    border-radius: 4px;
    padding: 10px 50px;
    margin: auto;
    display: flex;
    align-items: center;
    justify-content: center;
    font-weight: 700;
    font-size: 16px;
    line-height: 1.87;
    letter-spacing: 0.06em;
    background: var(--accent-color);
    color: var(--white-color);
    cursor: pointer;
}

.modal-button:hover,
.modal-button:focus{
background: #188CE8;
box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
}

.text-modal{

font-size: 12px;
line-height: 1.16;
margin-bottom: 5px;
color: var(--primary-color);
}

.modal-input{
   
    height: 40px;
    padding-left: 40px;
    border: 1px solid rgba(33, 33, 33, 0.2);
    border-radius: 4px;
    cursor: pointer;
    transition: border var(--timing-fuction);
}

.icon-modal{
    position: absolute;
    display: inline-block;
    top: 70%;
    left: 12px;
    transform: translateY(-50%);
    fill: var(--title-color);
    transition: fill var(--timing-fuction);
}

textarea {
    resize: none;
}

.form-fild-coment {
    position: relative;
    display: flex;
    flex-direction: column;
    margin-bottom: 20px;
}

.coment-form{
padding: 12px 16px;
border: 1px solid rgba(33, 33, 33, 0.2);
border-radius: 4px;
}

.form-fild-check{
    display: flex;
    justify-content: center;
    gap: 10px;
    margin-bottom: 30px;
}

.policy-label{
    display: flex;
    align-items: center;
    margin-left: 13px;
    line-height: 1.7;
    gap: 10px;
    margin-bottom: 30px;
}

.checked{
    display: flex;
    width: 16px;
    height: 15px;
    border: 2px solid var(--title-color);
    border-radius: 3px;
    fill: transparent;
    transition: border-color var(--timing-fuction);
}

.checkbox:checked ~ .checked{
    background-color: var(--accent-color);
    border: none;
}

.text-modal-check{
font-size: 12px;
line-height: 1.16;
color: var(--primary-color);
}

.modal-input:hover,
.modal-input:focus,
.coment-form:hover,
.coment-form:focus{
    outline: none;
border-color: var(--accent-color);
color: var(--accent-color);
}

.icon-modal:hover
.icon-modal:focus{
    fill: var(--accent-color);
}

.modal-input:focus + .icon-modal,
.modal-input:hover + .icon-modal{
    fill: var(--accent-color);
}

.contract{
    color: var(--accent-color);
}


/* Features */
.visually-hidden {
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    border: 0;
    padding: 0;

    white-space: nowrap;
    clip-path: inset(100%);
    clip: rect(0 0 0 0);
    overflow: hidden;
}

.feature .container {
    align-items: center;
}

.feature ul {
    display: flex;
}

.feature .item {
    width: 270px;
}

.feature .item:not(:last-child) {
    margin-right: 30px;
}

.feature .sub-title {
    margin-bottom: 10px;
    font-weight: 700;
    line-height: 1.14;
    text-transform: uppercase;
    color: var(--title-color);
    font-size: 14px;
}

.feature .text {
    line-height: 1.71;
    color: var(--primary-color);
}

/*Examples index*/

.examples {
    padding-top: 0;
}

.examples-tittle {
    font-size: 36px;
    line-height: 1.17;
    color: var(--title-color);
    margin-bottom: 50px;
    text-align: center;
}

.examples.list {
    display: flex;
    align-items: center;
    column-gap: 30px;
}

.container .icon-main {
    display: flex;
    width: 270px;
    height: 120px;
    align-items: center;
    justify-content: center;
    margin-bottom: 30px;
    background-color: var(--back-buttons-color);
    border-radius: 4px;

}

.examples-thumb {
    position: relative;
}

.thumb-text {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    padding: 27px 0;
    font-weight: 700;
    line-height: 1.14;
    text-align: center;
    color: var(--white-color);
    background-color: rgba(47, 48, 58, 0.8);
    text-transform: uppercase;
}


/*Team */

.team {
    background-color: var(--back-buttons-color);
    text-align: center;

}

.card-bg {
    background: var(--white-color);
    box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
    border-radius: 0px 0px 4px 4px;
    padding: 30px;
}


.team.list {
    display: flex;
    column-gap: 30px;
}



.team-tittle {
    margin-bottom: 50px;
    font-size: 36px;
    line-height: 1.17;
    color: var(--title-color);
}

.subtitle {
    font-weight: 500;
    font-size: 16px;
    line-height: 1.88;
    color: var(--title-color);
    margin-bottom: 10px;
}

.position {
    font-size: 16px;
    line-height: 1.88;
    color: var(--primary-color);
    margin-bottom: 16px;
}

.social {
    display: flex;
    justify-content: center;
    column-gap: 10px;
    
}


.social-networks-link {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 44px;
    height: 44px;
    border-radius: 50%;
    color: var(--icon-color);
    transition:color var(--timing-fuction), background-color var(--timing-fuction);

}

.social-icon{
    fill: currentColor;
}

.social-networks-link:hover,
.social-networks-link:focus {
    color: var(--white-color);
    background-color: var(--accent-color);

}

.social-icon:hover,
.social-icon:focus {
    fill: var(--white-color);
}

/*Regular-Clients*/

.clients-tittle {
    font-size: 36px;
    line-height: 1.17;
    color: var(--title-color);
    margin-bottom: 50px;
    text-align: center;
}

.client {
    display: flex;
    column-gap: 30px;
}

.site-clients {
    display: flex;
    justify-content: center;
    align-items: center;
    Width: 170px;
    Height: 92px;
    color: var(--clients-border);
    border: 1px solid var(--clients-border);
    border-radius: 4px;
    transition:border var(--timing-fuction), color var(--timing-fuction);
}

.site-clients:hover,
.site-clients:focus {
    border-color: var(--accent-color);
    color: var(--accent-color);
}

.logo-client {
    fill: currentColor;
}

.logo-client:hover,
.logo-client:focus {
    border-color: var(--accent-color);
    fill: var(--accent-color);
}


/*Portfolio btn*/

.filtr.list {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 50px;

}


.filtr.list li:not(:nth-child(5n)) {
    margin-right: 8px;
}


.filtr .button {
    border: none;
    border-radius: 4px;

    padding: 6px 22px;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.62;
    background: var(--back-buttons-color);
    color: var(--title-color);
    transition:color var(--timing-fuction), box-shadow var(--timing-fuction), background-color var(--timing-fuction) ;



    cursor: pointer;
}

.filtr .button .current {
    background-color: var(--accent-color);
    color: var(--white-color);


}

.filtr .current {
    font-size: 16px;
    line-height: 1.87;
    background: var(--accent-color);
    color: var(--white-color);
}

.filtr .button:hover,
.filtr .button:focus {
    background: #2196F3;
    color: var(--white-color);
    box-shadow: 0px 2px 2px 0px rgba(0, 0, 0, 0.12),

        0px 1px 2px 0px rgba(0, 0, 0, 0.08),

        0px 3px 1px 0px rgba(0, 0, 0, 0.1);
}

/*Portfiloi text*/

.our-works {
    background: var(--white-color);
    border: 1px solid #EEEEEE;
    padding: 20px 24px;
}

.works.list {
    display: flex;
    flex-wrap: wrap;
    cursor: pointer;
}

.works.list li:not(:nth-child(3n)) {
    margin-right: 30px;

}


.works.list li:nth-child(-n + 6) {
    margin-bottom: 30px;
}


.works .text {
    font-size: 16px;
    line-height: 1.87;
    color: var(--primary-color);
}

.works-items {
    display: block;
    transition: box-shadow var(--timing-fuction);
    
    
}

.works-items:hover,
.works-items:focus

 {
    box-shadow: 1px 4px 6px 0px rgba(0, 0, 0, 0.16),
        0px 4px 4px 0px rgba(0, 0, 0, 0.06),
        0px 1px 1px 0px rgba(0, 0, 0, 0.12);
        
     
}

.works-thumb{
    position: relative;
    overflow: hidden;
}

.overlay{
    position: absolute;
    bottom: 0;
    left: 0;
    content: "";
    font-size: 18px;
    line-height: 1.55;
    padding: 63px 24px;
    color: var(--white-color);
    background-color: rgba(33, 150, 243, 0.9);
    transition: transform var(--timing-fuction);
    transform: translateY(100%);
}
.works-items:hover .overlay,
.works-items:focus .overlay {
    transform: translateY(0%);
}


/*Portfolio*/

.subtitle-portfolio {
    margin-bottom: 5px;
    font-size: 18px;
    line-height: 2;
    letter-spacing: 0.06em;
    color: var(--title-color)
}

.subtitle-text {
    line-height: 1.71px;
    letter-spacing: 0.03em;
    color: var(--primary-color);
}

/* Footer*/


.page-footer {
    background-color: var(--block-color);
    padding-top: 60px;
    padding-bottom: 60px;

}

.footer-logo {
    color: var(--white-color);
    font-family: 'Raleway', sans-serif;
    font-weight: 700;
    font-size: 26px;
    line-height: 1.19;


}

.footer-logo span {
    color: var(--accent-color)
}

.adress {
    font-style: normal;
    margin-top: 20px;
}


.block .fix:not(:first-child) {

    margin-top: 10px;

}


.block-maps {
    line-height: 1.71;
    color: var(--white-color);


}

.block-mail {
    line-height: 1.71;
    color: rgba(255, 255, 255, 0.6);
    transition:color var(--timing-fuction);

}

.block-number {
    line-height: 1.71;
    color: rgba(255, 255, 255, 0.6);
    transition:color var(--timing-fuction);

}

.block-mail:hover,
.block-mail:focus,
.block-number:hover,
.block-number:focus {
    color: var(--accent-color);
}


.page-footer .container {
    display: flex;
    align-items: baseline;
    column-gap: 70px;
}

/*Join*/

.join-tittle {
    font-weight: 700;
    margin-bottom: 20px;
    line-height: 1.14;
    text-transform: uppercase;
    color: var(--white-color);
}

.social-networks {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 44px;
    height: 44px;
    background-color: rgba(255, 255, 255, 0.1);
    border-radius: 50%;
    transition: background-color var(--timing-fuction);
}

.join-icon{
    fill: var(--white-color);
}

.social-networks:hover,
.social-networks:focus{
    background-color: var(--accent-color);
}



/*Email-input*/

.email-action {
    font-weight: 700;
    margin-bottom: 20px;
    line-height: 1.14;
    text-transform: uppercase;
    color: var(--white-color);
}

.input-mail {
    display: flex;
    justify-content: center;
    column-gap: 10px;
    background-color: var(--block-color);
}

.input {
    width: 358px;
    height: 50px;
    border: 1px solid rgba(255, 255, 255, 0.3);
    filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
    border-radius: 4px;
    background-color: var(--block-color);
    padding: 15px;
}

.button-input {
    border: none;
    border-radius: 4px;
    padding: 10px 30px;
    display: flex;
    align-items: center;
    font-weight: 700;
    font-size: 16px;
    line-height: 1.87;
    letter-spacing: 0.06em;
    background: var(--accent-color);
    color: var(--white-color);
    cursor: pointer;
    gap: 10px;
}

.button-input:hover,
.button-input:focus {
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.15);
}
