.modal {
position: absolute;
top: 50%;
left: 50%;
padding: 40px;
width: 528px;
min-height: 581px;
background-color: rgba(255, 255, 255, 1);
transform: translate(-50%, -50%) scale(1);
transition: transform var(--timing-fuction);

}

.modal__button-close{
display: flex;
align-items: center;
justify-content: center;
position: absolute;
width: 30px;
height: 30px;
right: 8px;
top: 8px;
background-color: transparent;
padding: 0;
border-radius: 50%;
border: 1px solid rgba(0, 0, 0, 0.1);
cursor: pointer;
transition: fill var(--timing-fuction);

&:hover, &:focus{
    fill: var(--accent-color);
}

}

.modal__tittle {
    font-weight: 700;
    font-size: 20px;
    line-height: 1.15;
    text-align: center;
    margin-bottom: 10px;
}

.field {
    position: relative;
    display: flex;
    flex-direction: column;
    margin-bottom: 10px;
}

.field__text {

    font-size: 12px;
    line-height: 1.16;
    margin-bottom: 5px;
    color: var(--primary-color);
}

.field__input {

    height: 40px;
    padding-left: 40px;
    border: 1px solid rgba(33, 33, 33, 0.2);
    border-radius: 4px;
    cursor: pointer;
    transition: border var(--timing-fuction);

    &:hover, &:focus{
    outline: none;
    border-color: var(--accent-color);
    color: var(--accent-color);
    }
}

.field__icon {
    position: absolute;
    display: inline-block;
    top: 70%;
    left: 12px;
    transform: translateY(-50%);
    fill: var(--title-color);
    transition: fill var(--timing-fuction);

    &:hover, &:focus{
    fill: var(--accent-color);
    }
    
}

.field__input:focus+.field__icon,
.field__input:hover+.field__icon {
    fill: var(--accent-color);
}

textarea {
    resize: none;
}

.coments {
    position: relative;
    display: flex;
    flex-direction: column;
    margin-bottom: 20px;
}

.coments__input {
    padding: 12px 16px;
    border: 1px solid rgba(33, 33, 33, 0.2);
    border-radius: 4px;

    &:hover, &:focus{
    outline: none;
    border-color: var(--accent-color);
    color: var(--accent-color);}
}

.policy-label {
    display: flex;
    align-items: center;
    margin-left: 13px;
    line-height: 1.7;
    gap: 10px;
    margin-bottom: 30px;
}

.policy-label__check-mark{
    display: flex;
    width: 16px;
    height: 15px;
    border: 2px solid var(--title-color);
    border-radius: 3px;
    fill: transparent;
    transition: border-color var(--timing-fuction);
}

.checkbox:checked~.policy-label__check-mark{
    background-color: var(--accent-color);
    border: none;
}

.policy-label__text {
    font-size: 12px;
    line-height: 1.16;
    color: var(--primary-color);
}

.policy-label__contract {
    color: var(--accent-color);
}

.modal-button {
    border: none;
    border-radius: 4px;
    padding: 10px 50px;
    margin: auto;
    display: flex;
    align-items: center;
    justify-content: center;
    font-weight: 700;
    font-size: 16px;
    line-height: 1.87;
    letter-spacing: 0.06em;
    background: var(--accent-color);
    color: var(--white-color);
    cursor: pointer;

&:hover, &:focus{
background: #188CE8;
box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
}
}
