.link {
    text-decoration: none;
}

.list {
    list-style: none;
}


img {
    display: block;
}

body {
    font-family: 'Roboto', sans-serif;
    letter-spacing: 0.03em;
    font-size: 14px;
    font-weight: 400;
    color: var(--title-color);
    background: var(--white-color)
}

*,
*::before,
*::after {
    box-sizing: border-box;
}

h1,
h2,
h3,
h4,
p {
    margin-top: 0;
    margin-bottom: 0;
}

ul {
    margin-top: 0;
    margin-bottom: 0;
    padding-left: 0;
}